modules = ["nodejs-20", "web"]
run = "npm run serve"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run serve"]

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 45655784
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
